.modal-cards {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: none;
  flex-direction: column;
  align-items: space-between;
  gap: 5px;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9000;
  margin-left: 20px;
}

#img-plc {
  width: 80%;
  height: auto;
}

.modal-cards h2 {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.modal-list li {
  display: inline-block;
  list-style: none;
  border-radius: 8px;
  background: #ebf0ee;
  padding: 4px 6px;
  justify-content: flex-start;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.modal-list ul {
  list-style: none;
  flex-direction: row;
  align-self: flex-start;
  padding-left: 0;
  margin: 0;
}

.modal-desc {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #344563;
  order: 0;
  width: 90%;
  text-align: start;
  margin-bottom: 20px;
}

.seel {
  height: 20px;
  margin-bottom: 0;
  padding-left: 12px;
}

.btn {
  height: 40px;
  align-items: flex-start;
  width: 40%;
}

.close {
  font-size: 30px;
  font-weight: 400;
  font-style: bold;
  width: 100px;
  height: 10px;
  float: right;
  z-index: 10000;
  position: fixed;
  margin: 0 0;
  left: 299px;
  padding-top: 10px;
  cursor: pointer;
}

#desksnap {
  display: none;
}

@media only screen and (min-width: 768px) {
  .modal-cards {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    align-items: space-between;
    justify-content: flex-start;
    gap: 5px;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    margin-left: 20px;
    border: #344563 solid 2px;
  }
  
modal-cards1 {
    position: absolute;
    width: 90%;
    margin-right: 23px;
  }

  

  .h2-ul {
    margin-left: 40rem;
  }

  .modal-desc {
    margin-left: 40rem;
    width: 37%;
    height: 313px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .seel {
    height: 20px;
    margin-bottom: 0;
    padding-left: 12px;
  }

  #img-plc {
    display: none;
  }

  #desksnap {
    display: block;
  }

  .close {
    position: absolute;
    top: 22px;
    right: 23px;
  }

  .modal-placeholder {
    position: relative;
  }

  h2 {
    width: 30%;
  }

  .modal-cards h2 {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 37px;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .modal-btn {
    
    margin-left: 320px;
  left: 23%;
  bottom: 75%;
  top: 9%;
  line-height: 2px;
  }

  .modal-list li {
    display: inline-block;
    list-style: none;
    border-radius: 8px;
    background: #fff;
    padding: 0 6px;
    align-items: center;
    margin: 0 4px;
    height: 32px;
    justify-content: center;
    width: 69px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.03em;
    color: #3a4a42;
    flex: none;
    order: 0;
  }

  .modal-list ul {
    list-style: none;
    flex-direction: row;
    align-items: center;
    padding-left: 0;
  }

  .p-btn {
    display: flex;
    height: 40px;
    align-items: flex-start;
    width: 143px;
    border: red solid 7px;
  }
}
